[2016-11-27 21:32] Pawel2013 opened #1 "make run_tests error"
**I am using Ubuntu bash on Windows 10**.
After:
**successful compiling** (and installing) **gRPC** (and **proto3**)
during:
**make run_tests**
Pawel@DESKTOP-HJSUITN:~/cpp-docs-samples/speech/api$ make run_tests
./transcribe -b 16000 resources/audio.raw
E1127 13:29:22.675581700   26963 ev_epoll_linux.c:1655]      pollset_work: {"created":"@1480282162.675479800","descripti
on":"pollset_work_and_unl

[2016-11-27 21:52] Pawel2013 opened #2 "SPEECH_PROTO_PATH role"
What does this line of code exactly do ?
**SPEECH_PROTO_PATH** = google/cloud/speech/v1beta1

[2016-12-01 22:26] Pawel2013 opened #3 "Success on Linux (partially)"
I confirm possibility of building on Linux platform:
Linux Mint - yes.
openSuse - yes:
Ubunty - NO.

Is there any chance on Windows (MinGW or VS 2015) ?

[2016-12-20 15:19] bloodcarter opened #4 "Seg fault on ubuntu 64bit"
wget https://cloud.google.com/speech/docs/samples/audio.raw
./transcribe ./audio.raw

WTF?

[2016-12-29 00:35] SurferJeffAtGoogle commented on #4
I can't reproduce the issue.

Can you run it with gdb to capture a backtrace and post it here?

[2016-12-29 00:36] SurferJeffAtGoogle commented on #3
What error do you see on Ubuntu?

[2016-12-29 00:41] SurferJeffAtGoogle commented on #1
It's failing to find your application default credentials.  See:
https://developers.google.com/identity/protocols/application-default-credentials

[2016-12-29 00:41] #1 closed

[2016-12-29 00:50] SurferJeffAtGoogle commented on #2
It's obsolete.  I removed it.

Thank you for reporting this issue.

[2016-12-29 00:50] #2 closed

[2017-01-31 22:29] korovkin opened #6 "'Audio data is being streamed too fast. Please stream audio data approximately at real time'"
similar to this:
https://github.com/GoogleCloudPlatform/ios-docs-samples/issues/7

i am experiencing the same issue
we are streaming AMR data at 8Khz, our buffer size is about 256 bytes per write request.
please help.

the session is able to transcribe the audio, but does yield the above message.

[2017-02-01 19:08] SurferJeffAtGoogle commented on #4
If you see this issue again, please reopen.

[2017-02-01 19:08] SurferJeffAtGoogle commented on #3
If you see this issue again, please reopen.

[2017-02-01 19:08] #3 closed

[2017-02-03 17:18] SurferJeffAtGoogle commented on #6
Thank for reporting this issue.  It's an issue in the underlying service.  I have notified the service owners.

[2017-02-03 17:57] korovkin commented on #6
awesome! thank you.

[2017-02-07 17:56] frankyn opened #7 "Async_transcribe test fails due to in-progress write"
[Issue]
Running `make run_tests` fails when running asynchronous transcribe on audio.raw. The error message is shown below with steps to reproduce.

[Error]
[code]

[Steps to reproduce]
1. Copy this into a Dockerfile (https://gist.github.com/frankyn/07e01336391affc06929cb0e58a9fdb5)
2. Create a service account file and name is `service-account.json` where the Dockerfile is located.
3. Run `docker

[2017-02-11 19:26] BrennerSpear commented on #6
I'm getting the same issue sometimes - sometimes it says I am streaming too slow. I have tried increasing/decreasing both the bufferSize and the sampleRate.
Generally, lower sampleRate gives me a 'too fast' error.
Generally, higher sampleRate gives me a 'too slow' error.
This is not a hard rule - sometimes i get 'too slow' even at a lower sample rate.

It was working fine yesterday, but it's not w

[2017-02-14 01:15] korovkin commented on #6
i have noticed that the problem mostly occurs when the audio data is streamed over the API.

replaying the same stream of bits from a file (offline session) works perfectly on the same exact stream of AMR data.

[2017-02-14 18:17] jerjou commented on #6
* To be clear - this error message sometimes appears because of a bug on the client end, sometimes because of a server bug we're investigating; so some additional detail is necessary to determine the root cause.
* To clarify, I assume you're using [this function](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/speech/api/Recognize/Recognize.cs#L160) to stream audio from your

[2017-02-14 19:03] korovkin commented on #6
@jerjou

we are using the grpc C++ async streamer, not CSharp
[code]

please share the “too fast” / “too slow” constrains for AMR
(bytes per second, num buffers per second)
without the above, the statement doesn’t mean much.

yes. our buffer size is about 256 bytes, using 8Khz AMR data produced by `gstreamer`.

not always. mostly works. In most cases the problem happens when the session is longer

[2017-02-14 19:04] korovkin commented on #6
if possible, i am happy to mark some sessions with a header so you guys can look at the server side logs for those session, please let me know if this is something we could do.

[2017-02-14 19:10] jerjou commented on #6
Ah - sorry - I got confused. C* land isn't my usual haunts :-)

I assume you're using [this file](https://github.com/GoogleCloudPlatform/cpp-docs-samples/blob/master/speech/api/async_transcribe.cc), then? Are you streaming from a file, or from a microphone? If from a file, could you provide a sample file for me to reproduce with? If from a microphone, can you share the code you're using? You can e

[2017-02-14 19:14] korovkin commented on #6
does this answer your question:
https://github.com/GoogleCloudPlatform/cpp-docs-samples/issues/6#issuecomment-279576674

[2017-02-14 19:15] korovkin commented on #6
our code looks very similar to this example:
https://github.com/GoogleCloudPlatform/cpp-docs-samples/blob/master/speech/api/streaming_transcribe_singlethread.cc

[2017-02-14 19:17] korovkin commented on #6
can you please, the answer to the question raised here:
https://github.com/GoogleCloudPlatform/cpp-docs-samples/issues/6#issuecomment-279802299

[2017-02-17 00:31] pbogle commented on #6
For AMR the cloud speech service expects to see 7400 / 8 = 925 bytes per second, based on the average bit rate of AMR of 7.4 kilobits, and independent of the actual, variable bit rate of the encoded data.

It returns STREAMING_TOO_FAST if the rate exceeds 925 bytes for second for too long.

Could you adjust your sending rate to approximately 925 bytes per second on average and see if that resolves

[2017-02-18 00:28] korovkin commented on #6
that would be tricky:

1.   I think the streams we are producing are about 12.5 kbits per second,
which is 1,562 bytes per second. I have zero control over that as we are
using gstreamer0.1 to produce that stream, encoding samples coming from the
microphone.

2.   we are running on a an embedded chip running over a dozen processes
(none real-time system), uploading the data over a sometime slow ce

[2017-03-11 20:25] trainormg commented on #6
I had the same issue on Windows.
I fixed it setting file open mode to binary at line 43 of streaming_transcribe.cc:
`std::ifstream file_stream(file_path, std::ios::binary);`
instead of
`std::ifstream file_stream(file_path);`

It may apply to other example, I didn't try.

[2017-03-11 20:56] korovkin commented on #6
we believe this issue has been addressed by a server side fix
(the too fast / too slow restrictions were significantly relaxed for AMR on the server side)

i am able to stream 12.5kbit/s, not getting the error above.

[2017-03-11 20:56] #6 closed

[2017-03-20 16:26] #7 closed

[2017-04-13 03:20] danaharon opened #11 "Can't run the new v1 speech sample"
Here is the error I'm getting:

daharon-macbookair2:api daharon$ make run_tests
./transcribe -b 16000 resources/audio.raw
[libprotobuf ERROR google/protobuf/descriptor_database.cc:57] File already exists in database: google/protobuf/descriptor.proto
[libprotobuf FATAL google/protobuf/descriptor.cc:1272] CHECK failed: generated_database_->Add(encoded_file_descriptor, size):
libc++abi.dylib: termina

[2017-04-21 18:52] SurferJeffAtGoogle opened #13 "TODO: Use known files on cloud storage for tests."
The only thing that didn't work was the last two tests on GCS since the env variable wasn't set.
Can you use these instead?

gs://cloud-samples-tests/speech/brooklyn.flac for transcribe
gs://cloud-samples-tests/speech/vr.flac for async

[2017-04-21 18:53] #11 closed

[2017-04-21 22:32] frankyn opened #16 "Assertion failure in grpc call."
[Steps to reproduce]
Build `Dockerfile` using the steps found in [Docker.README.md](https://github.com/GoogleCloudPlatform/cpp-docs-samples/blob/master/speech/api/Docker.README.md).

run: `./streaming_transcribe_singlethread -b 16000 resources/audio.raw`

[Error]
[code]

[2017-04-24 15:51] #13 closed

[2017-05-15 16:00] Chnossos commented on #4
Just ran across this issue.

Coredump:

	Stack trace of thread 7285:
	#0  0x00007f0ee8ac281a grpc_slice_unref_internal (libgrpc.so.3)
	#1  0x00007f0ee8ac28be grpc_slice_unref (libgrpc.so.3)
	#2  0x000000000040fc1e _ZN4grpc8internal16GrpcBufferWriter4NextEPPvPi (transcribe)
	#3  0x00007f0ee84db2ba _ZN6google8protobuf2io17CodedOutputStream7RefreshEv (libprotobuf.so.12)
	#4  0x00007f0ee84db32e _ZN6go

[2017-05-15 16:03] SurferJeffAtGoogle commented on #4
What OS and version are you running?

[2017-05-15 16:13] Chnossos commented on #4
Manjaro (Arch) x86_64, using grpc 1.3.1, protobuf 3.2.0 and latest googleapis gens (downloaded and compiled today).

[2017-05-16 10:27] Chnossos commented on #4
Fixed. I had two version of grpc installed (`1.2.0` and `1.3.1`) and the former was used instead of the latter.

[2017-05-30 19:25] SurferJeffAtGoogle commented on #4
Thanks for the update!

[2017-05-30 19:25] #4 closed

[2017-06-06 09:15] jopedroliveira opened #17 "Google Cloud Speech API"
According to google the Google Cloud Speech API is now Generally Available.
Within this change, some other changes were made on the api.
Does it influences this demo program?  What kind of changes are needed to migrate this demo to the new GCSAPI version?

[2017-07-17 02:28] kaushik1618 commented on #16
Hitting the same issue with "make run_tests" without using Docker.

[2017-08-01 07:53] peitaosu commented on #16
Same issue, any comments?

[code]

[2017-08-04 21:08] #16 closed

[2017-08-09 18:15] coryan commented on #17
AFAICT the examples are using the same APIs documented in google.cloud.com/speech/.  I recently compiled the examples and used them, they seem to work Okay.  In other words, I think the answer to your questions are:  no changes are needed to migrate this demo.  If you find some specific that needs changes please feel free to reopen the issue.

[2017-08-09 18:15] #17 closed

[2017-08-17 09:48] sisihi opened #24 "Error when make run_tests on ubuntu14"
Hi,
I am working on ubuntu 14.04.

I've compiled the latest grpc(with libc-ares-dev (1.13.0)) and protobuf.

but when make run_tests:

g++ transcribe.o parse_arguments.o googleapis.ar -L/usr/local/lib `pkg-config --libs grpc++ grpc` -Wl,--no-as-needed -lgrpc++_reflection -Wl,--as-needed -lprotobuf -lpthread -ldl -o transcribe
/usr/local/lib/libgrpc.so: undefined reference to `ares_set_servers_port

[2017-08-18 21:14] coryan commented on #24
Thank you for the bug report.  We need your help to reproduce the problem (and then fix it!)

What exactly do you mean by "latest grpc"?
Did you compile and install the master branch?  Or v1.6.x?  Or v1.4.x?

Can you include the command you used to download grpc?
If you used `git` to clone the grpc repository, can you include the output from `git status` and/or `git rev-parse HEAD`?

[2017-08-21 19:01] coryan commented on #24
I have tested the build on Ubuntu 14.04 against the v1.4.x version of grpc, it works without problem.  You can find the shell script and Dockerfile I used here:

https://github.com/coryan/cpp-docs-samples/tree/fix-issue-24/speech/api/ci

I *think* the main difference is that we normally compile grpc against the c-ares submodule.  That is, grpc is **not** compiled against `libc-ares-dev`, it is com

[2017-08-21 19:01] #24 closed

[2017-08-22 03:48] sisihi commented on #24
I suppose ur point is to install the `protobuf` from the `grpc/third_party/protobuf/` instead of [https://github.com/google/protobuf/blob/3.1.x/src/README.md](url)

So, I've tried the method which is similar to

RUN (git clone https://github.com/grpc/grpc.git && \
    cd grpc && git checkout v1.4.x && git submodule update --init && \
    make -j 2 && make install && \
    cd third_party/protobuf &

[2017-08-22 13:04] coryan commented on #24
I did not make that point explicitly, but yes, you want to install the dependencies from `grpc/third_party` instead of trying to find matching versions from somewhere else.

You say "similar", do you mean to say you used exactly those commands, or something else?  If something else, would you mind showing the exact commands that you used?

[2017-11-10 09:42] zhongyzh opened #28 "Google speech not good at split Chinese"
We use CPP Google Speech APIs to transfer voice into text, it works fine for English, but not good at split sentence for Chinese. At result, we can also received the last sentence text, didn't be cleared when new sentence start, not same as English.
Is there are any APIs to solve this issue ?

Our codes are:
void Run()
{
auto creds = grpc::GoogleDefaultCredentials();
auto channel = grpc::CreateCha

[2017-11-27 23:52] asanchezdelc opened #31 "IoT Core wrong topic on publish"
https://github.com/GoogleCloudPlatform/cpp-docs-samples/tree/master/iot/mqtt-ciotc

The example that connects and publish data to the core, its publishing data to:

`/devices/mqtt-c-rsq2/events` instead, it should be: `/devices/{device-id}/events`. It looks like its using the hardcoded value under `opts.topic`.

[2017-12-10 21:55] ghost opened #33 "TSI_INTERNAL_ERROR "Sending protected frame to ssl failed with -1" GRPC issue"
When running "make run_tests" the very last check "./transcribe -b 16000 resources/audio.raw" fails with message **"Sending protected frame to ssl failed with -1"**.

I understand this is an issue with grpc, but I am also able to run client server helloworld there just fine (I'm talking about this: https://github.com/grpc/grpc/tree/master/examples/cpp/helloworld).

Any idea what could be causing t

[2018-01-24 02:50] jobchoi commented on #16
ubunto :16.04
cpp
cpp-docs-samples/speech/api -> make run_tests
result :
./transcribe -b 16000 resources/audio.raw
E0124 11:30:00.650999289   25514 json_util.cc:33]            Invalid or missing type property.
E0124 11:30:00.651130758   25514 json_util.cc:33]            Invalid or missing type property.
E0124 11:30:00.651163556   25514 google_default_credentials.cc:213] assertion failed: (result =

[2018-02-07 21:39] gguuss commented on #31
Thanks for the heads up, I'll take a look while adding exponential backoff, maybe you're passing the --deviceid as the first parameter?

[2018-03-15 11:30] yozmag opened #38 "Support Arduino devices"
Looking at cpp-docs-samples/iot/mqtt-ciotc/ the example is not able to run on an Arduino device.
I would like to ask for the support of the Arduino environment to be supported, this would allow as vast range of arduino IOT to use Google Clould IOT service, including the MQTT service.

[2018-05-24 11:45] HMS-LIG commented on #31
This is still broken as far as I can see. The example client now publishes to the hardcoded topic ""/devices/{your-device-id}/events"" as opts.topic is never changes from its initial string. Trying out the example results in an error notification on my registered device in the GCP stating:

Looks like the only way to get it to publish to the correct topic is to manually modify the .topic = "/devic

[2018-05-24 18:38] SurferJeffAtGoogle commented on #31
Thank your the update.  It looks like you did the right thing.

I did not write the sample, but I think the author actually intended for readers to modify the source code like you did.  Do you see a way to better communicate that to the reader?  Or perhaps, to not require the reader to modify the source code?

[2018-05-25 10:23] HMS-LIG commented on #31
I looked at the instructions provided in https://github.com/GoogleCloudPlatform/cpp-docs-samples/blob/master/iot/mqtt-ciotc/README.md and from reading that I don't think the (current) intention is to modify the source code as you can/must provide the different options on the command line, --deviceid for example (bottom of README). The MQTT topic must be automatically assembled from the deviceid yo

[2018-06-01 22:44] gguuss commented on #31
It's been a while since I last looked at the code here but the intention originally had been to support command-line parameters for the sample once it had been built. I'm not sure I actually tested it very thoroughly and I recall fixing an off-by-one bug on the ordered parameters.

[2018-07-06 08:48] ZaitsevS opened #40 "Missing linker flag for building mqtt_ciotc"
In Makefile missing -ljansson

[2018-07-27 10:54] jerrychang1243 opened #41 "Problems to generate googleapis gRPC source code"
in googleapis/
$ make all

protoc --proto_path=.:/usr/local/include --cpp_out=./gens --grpc_out=./gens --plugin=protoc-gen-grpc=/usr/local/bin/grpc_cpp_plugin google/ads/googleads/v0/resources/ad_group.proto
google/ads/googleads/v0/common/custom_parameter.proto:31:8: Option "php_metadata_namespace" unknown.
google/ads/googleads/v0/enums/ad_group_status.proto:29:8: Option "php_metadata_namespace" u

[2018-07-27 14:12] coryan commented on #41
Looks like you are using an old version of protoc. I cannot remember if the php stuff was introduced in 3.5 or 3.4, I would go with 3.5.

[2018-07-30 12:02] jerrychang1243 commented on #41
@coryan
My protoc version is 3.5.1

[2018-08-16 15:03] ukranjeeth opened #42 "isuues running mqtt-ciotc"
Hi,
im trying to run the mqtt client example to demostrate publishing to google_cloud_iot. i followed the README file and installed all the dependent libraries, and was able to generate the executable also but while executing it, code it is throwing:
Segmentation fault (core dumped)

Any help is appreciated!
Thanks in advance!

[2018-08-23 21:58] coryan commented on #41
Sorry for the delay, I was busy with my full-time job.  You are correct, googleapis does not compile with protobuf v3.5.1 or v3.5.2, which is the default version used by gRPC.  googleapis recently introduced proto files that use the `php_metadata_namespace`, for example here:

https://github.com/googleapis/googleapis/blob/288ebfec039030c7dd9de05b73879634b72e0dc4/google/ads/googleads/v0/enums/day_o

[2018-09-25 14:58] calsa opened #45 "Hints"
Hi Jeff,  I don't really have an issue per say but I used your sample as a starting point and I'm trying to add hint phrases to my application that mostly requires single word answers to voice prompts and the the API often returns unexpected responses maybe because of the Australian accent inputs.

To cut a long story short I thought phrase hints might be the solution but lacking any example code

[2018-09-26 15:13] #45 closed

[2018-12-06 10:11] ubhatti opened #47 "C++ continuous speech recognition"
Hello all,

I am trying to use Google cloud Speech for speech-to-text using streaming API. The samples work for me fine, however my usecase is a bit different: I would like to do continuous, streaming speech recognition (multiple requests). So I face two issues:

1. It looks like I cannot use grpc::ClientReaderWriter<StreamingRecognizeRequest, StreamingRecognizeResponse> for multiple requests beca

[2018-12-06 18:30] beccasaurus commented on #47
1. For clarification, do your multiple concurrent streaming requests work OK? So long as you have a new channel/context/* for each separate request?

2. Hmm I've seen this before but have not personally tried real time streaming in awhile

I believe we have at least one sample showing how to open up a stream and continuously get results, although not in C++

You may / may not find some of these he

[2018-12-07 10:41] ubhatti commented on #47
Thanks for looking into it.

I am developing a software for interaction so the user can do multiple, non-overlapping/concurrent speech recognition requests on a single device. According to my understanding I need a separate context/channel for each subsequent request. Although, I would have prefered to just renew the context for each request without needing to create channel/credentials, etc.

The

[2018-12-07 17:00] coryan commented on #47
You should be able to reuse the channel and credentials and send a second streaming request over the previous channel.  gRPC can multiplex multiple streams over a single channel.

Different protobuf, same gRPC core.  There is a thin C++ wrapper on top of the core gRPC library, and a separate thin Python wrapper on top of the same core gRPC library.

[2018-12-07 19:18] nirupa-kumar commented on #47
While working with the Java streaming samples, have been able to send multiple streams over a single channel.
There was one instance where I had seen this error occur. Modifying the duration in `Thread.sleep(duration)`,  and the buffer size for reading the data fixed it for me.

[2019-01-24 08:40] Rohan0993 opened #48 "make run_tests error - undefined reference to 'AssignDescriptors'"
Hi, I am trying to run the tests as given in the documentation here.
On step 9 it is given `make run_tests` I am getting some linking problem.

`g++ transcribe.o parse_arguments.o googleapis.ar -L/usr/local/lib 'pkg-config --libs grpc++ grpc' -Wl,--no-as-needed -lgrpc++_reflection -Wl,--as-needed -lprotobuf -lpthread -ldl -o transcribe`
`/usr/local/lib/libgrpc++_reflection.so: undefined reference

[2019-02-01 09:44] Mayuri21992 opened #49 "Trouble running the iot sample"
Hi Team,
After running this
./setup_device.sh --registry-name my_registry --registry-region asia-east1 --device-id led-light
rsa certificate created but  getting error like
./setup_device.sh: line 67: gcloud: command not found

[setup_device.zip](https://github.com/GoogleCloudPlatform/cpp-docs-samples/files/2820983/setup_device.zip)

[2019-02-01 10:39] Mayuri21992 commented on #49
Hi team ,
After running
 ./mqtt_ciotc all necessary arguments attched with this
getting errror  failed to connect -1

[2019-02-05 13:31] Rohan0993 opened #50 "Could not create google default credentials"
Hi All,
I am working on the Opensuse Leap 155.0 for running these tests.
I have installed protobuf and grpc successfully, and trying to make the **cpp-docs-samples > speech > api> make run_tests**. I am getting this error

[Error.txt](https://github.com/GoogleCloudPlatform/cpp-docs-samples/files/2832254/Error.txt)

`sudo make run_tests`

`./transcribe -b 16000 resources/audio.raw
E0205 18:55:48.36

[2019-02-05 14:16] coryan commented on #50
Looks like you do not have your credentials configured:

https://cloud.google.com/docs/authentication/getting-started

Did you try using `gcloud` first to verify the authentication works?

https://cloud.google.com/speech-to-text/docs/quickstart-gcloud

[2019-02-06 05:31] Rohan0993 commented on #50
Hi @coryan I have followed the above links. I have a service account with owner role. and I have set up the gcloud.

I can access the gcloud commands from the google-cloud-sdk directory.

But I am not sure why do I need this. It did not make any visual difference in the behaviour of my question. Did I do it right?

[2019-02-06 05:57] Rohan0993 commented on #50
`┌─────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│                                                  Components                                                 │
├───────────────┬──────────────────────────────────────────────────────┬──────────────────────────┬───────────┤
│     Status    │                         Name

[2019-02-06 13:20] coryan commented on #50
The error message is what you get from gRPC when the credentials are not setup, it is very hidden, but it says:

[code]

That is, gRPC tried to open `/root/.config/gcloud/application_default_credentials.json` and failed, and that file is where the application default credentials are usually stored for `root`.

And only after writing that I noticed that you are doing a `sudo make`. I suspect *your*

[2019-02-06 13:27] Rohan0993 commented on #50
Ohh genius ! Yay that worked :)

[2019-02-06 13:33] coryan commented on #50
Glad to hear that, closing this bug.

[2019-02-06 13:33] #50 closed

[2019-02-07 09:22] Mayuri21992 commented on #49
Hi @ Team,
i am getting error like
./mqtt_ciotc "Hello world!" --deviceid my-device --region asia-east1 --registryid  my_registry --projectid fresh-iridium-229704 --keypath rsa_private.pem --algorithm  RS256 --rootpath roots.pem
New client id constructed:
projects/fresh-iridium-229704/locations/asia-east1/registries/my_registry/devices/my-device
IAT: 1549531238
EXP: 1549534838
JWT: [eyJhbGciOiJSUz

[2019-08-07 22:27] gguuss commented on #42
Ack. @manojvellala do you have any example you can share?

[2019-09-04 21:50] gguuss commented on #42
@ukranjeeth Can you share more details on how you're running the sample / stack trace / exception?

[2019-10-18 16:46] tmatsuo opened #54 "Set up ci builds for the iot sample"

[2019-10-18 16:48] tmatsuo opened #55 "Configure ci builds"
Since we have multiple sub directories, the test driver ideally run the tests for sub directories which has changes for pull requests.

[2019-10-18 16:48] tmatsuo commented on #54
blocked by #55

[2019-10-18 16:55] tmatsuo opened #56 "Configure service account key for the speech integration test"

[2019-10-18 16:56] tmatsuo opened #58 "Cache devtools docker image for speeding up the ci builds"

[2019-10-18 16:57] tmatsuo commented on #54
@gguuss FYI, #57 will add a nice test driver script.

[2019-10-18 17:10] tmatsuo opened #59 "Consider having a build matrix"
Now #57 will add 2 builds, presubmit and continuous. We probably should have more builds.

[2019-10-18 17:13] tmatsuo opened #60 "Consider updating speech api docker base image to newer version of Debian"
Now Buster is out:
https://www.debian.org/releases/buster/

[2019-10-18 21:23] tmatsuo commented on #55
The first continuous build passes:
https://source.cloud.google.com/results/invocations/06c1d3ca-86a1-4f17-8e0b-d80110073b1f/targets

But, it only runs test for iot. I found a bug.

[2019-10-21 16:25] #55 closed

[2019-10-21 20:04] tmatsuo commented on #58
fixed by #61

[2019-10-21 20:04] #58 closed

[2019-10-21 20:42] tmatsuo opened #63 "Run linter in the build script"

[2019-10-21 22:46] gguuss commented on #31
This should be fixed in:

https://github.com/GoogleCloudPlatform/cpp-docs-samples/pull/46

[2019-10-22 19:39] tmatsuo opened #65 "Run tests for iot sample"

[2019-10-22 19:40] tmatsuo commented on #60
fixed by #64

[2019-10-22 19:40] #60 closed

[2019-10-22 21:08] tmatsuo commented on #65
#66 will add a basic ci build for iot sample which only builds the sample code. It's definitely better if we have real tests and run them in the ci builds.

[2019-10-22 23:22] #56 closed

[2019-10-23 20:16] tmatsuo commented on #28
Thanks for the feedback, but I think it's more appropriate to talk about a topic like this in the following forum:
https://groups.google.com/g/cloud-speech-discuss

[2019-10-23 20:16] #28 closed

[2019-10-23 20:18] tmatsuo commented on #54
fixed by #66

[2019-10-23 20:18] #54 closed

[2019-10-23 20:23] tmatsuo commented on #38
@yozmag Thanks for the feedback. Let me ask you what you have done, and what actually happened, etc first. Then we can discuss further. WDYT?

[2019-10-23 20:25] tmatsuo commented on #33
@ghost We added an integration tests for that. We haven't seen that error yet. Is it possible for you to provide a way to reproduce the error?

[2019-10-23 20:26] tmatsuo commented on #40
@ZaitsevS Thanks, I'll take a look

[2019-10-23 20:28] tmatsuo commented on #41
@jerrychang1243 I think we can close this issue, but feel free to reopen.

[2019-10-23 20:28] #41 closed

[2019-10-23 20:29] tmatsuo commented on #42
@manojvellala Feel free to reopen with the details!

[2019-10-23 20:29] #42 closed

[2019-10-23 20:33] tmatsuo commented on #48
It seems like the system can not find the protobuf library.

We have instructions for running the sample with Docker at:
https://github.com/GoogleCloudPlatform/cpp-docs-samples/blob/master/speech/api/Docker.README.md

I'd recommend that you try it.

[2019-10-23 20:35] tmatsuo commented on #49
@gguuss Can you take a look?

[2019-10-23 20:43] tmatsuo commented on #65
@gguuss Can you take this? Just let me know if you can not.

[2019-10-24 00:29] gguuss commented on #65
I'm pretty busy for the next few weeks, if you can take it, it's appreciated!

[2019-10-24 00:34] gguuss commented on #49
@Mayuri21992 This generally happens when one of the parameters is wrong. There may be more details if you go to the Stackdriver logging for your project found in the [Google Cloud Console](https://console.cloud.google.com/iot) under the **IoT** > **Monitoring** menu. If that doesn't help, you can debug your parameters by inspecting the JWT in a tool like [jwt.io](https://jwt.io).

You may want to

[2019-10-24 00:41] #40 closed

[2019-10-24 17:55] tmatsuo commented on #33
Since we haven't reproduce this yet, let me close this, but feel free to reopen this with repro step.

[2019-10-24 17:55] #33 closed

[2019-11-01 18:26] tmatsuo opened #72 "Use time.google.com for iat"
https://github.com/GoogleCloudPlatform/cpp-samples/blob/66f49119fe844a6cd75bb2560b02b82462bacd61/iot/mqtt-ciotc/mqtt_ciotc.c#L77

[2019-11-01 21:11] tmatsuo opened #74 "Consider using getopt in iot sample"

[2019-11-02 01:04] #63 closed

[2019-11-05 19:24] #31 closed

[2019-11-05 19:25] tmatsuo commented on #48
Closing due to inactivity, but feel free to open it.

[2019-11-05 19:25] #48 closed

[2019-11-05 19:26] tmatsuo commented on #49
Closing due to inactivity, but feel free to open if it's still a problem

[2019-11-05 19:26] #49 closed

[2019-11-05 20:36] tmatsuo commented on #72
I created this issue because I found a TODO in the code. Can you clarify a bit more?

[2019-11-05 21:03] gguuss commented on #72
We should be using the Google time server (using NTP) and I didn't want to ship the code for performing an NTP call.

[2019-11-05 22:06] tmatsuo commented on #65
@gguuss

I'm trying to use setup_device.sh, but I'm having trouble running it.

What should I use for `${REGISTRY_TELEMETRY_TOPIC}` on this line https://github.com/GoogleCloudPlatform/cpp-samples/blob/fe3ec170c1afee60dcf6ef97aa76bb960d888716/iot/mqtt-ciotc/setup_device.sh#L73?

[2019-11-05 23:02] tmatsuo commented on #65
@gguuss nm I figured it out. I think I need to create a topic beforehand.

[2019-11-06 22:52] #65 closed

[2019-11-06 22:53] tmatsuo commented on #72
Is it just about configuring NTP on the host machine?

[2019-11-06 22:59] gguuss commented on #72
It could be as simple as that but I am thinking about cases where the C++ is used in bare-metal like environments. [Here is an example implementation in C](https://github.com/lettier/ntpclient/blob/master/source/c/main.c).

[2019-11-07 17:54] tmatsuo opened #77 "[Flake] iot integration test may fail when run in parallel"
Because we're always using the same Cloud Pub/Sub topic.

[2019-11-07 18:51] #77 closed

[2019-11-07 19:20] tmatsuo opened #80 "Consider suppress some log output"
most of the Docker build logs
logs for gcloud sdk installation

[2019-11-20 19:21] tmatsuo opened #82 "Continuous job is failing"
https://source.cloud.google.com/results/invocations/f8ca1ffd-9bae-48c1-99fc-941f3c6638d6/targets

[2019-11-20 20:31] tmatsuo commented on #82
Seems like `grpc::GoogleDefaultCredentials()` never returns

[2019-11-20 21:47] #82 closed

[2020-01-02 06:10] IA-Synth911a opened #84 "Error while making file"
Hi there, I tried to use `make run_tests` under cpp-docs-samples/speech/api

but after a while this error shows up.
`collect2: error: ld returned 1 exit status
Makefile:56: recipe for target 'transcribe' failed
make: *** [transcribe] Error 1
`
Line 56 in Makefile is
`
55 transcribe: transcribe.o parse_arguments.o googleapis.ar
56 	$(CXX) $^ $(LDFLAGS) -o $@
`
about the variables
`
CXX = g++
ifeq (

[2020-01-06 22:08] tmatsuo commented on #84
@IA-Synth911a
Do you have any other error message?
Also did you try the instructions with Docker in https://github.com/GoogleCloudPlatform/cpp-samples/blob/master/speech/api/Docker.README.md ?

[2020-01-07 00:44] tmatsuo commented on #84
Update: the error in the Docker instructions is now fixed.

[2020-01-07 07:42] IA-Synth911a commented on #84
@tmatsuo
Sorry, I haven't try Docker yet.
I'll try it around these few days, Thanks.

[2020-01-07 08:11] IA-Synth911a commented on #84
Sorry, about this error it didn't show up any more message.
But I do have some more Problems when I tried to use this sample.

1. I had once successfuly install this sample in 19.04 ubuntu, but I've stuck in the command called `./transcribe -b 16000 resources/audio.raw`. And when I tried to solve the problem. I found that inside file "transcribe.cc" the include file location of "cloud_speech.grpc.

[2020-01-07 20:09] tmatsuo commented on #84
@IA-Synth911a

I recommend you try the Docker instructions first because it is tested and it should work.
Note that we're trying to upgrade gRPC to 1.26.0 with this PR: https://github.com/GoogleCloudPlatform/cpp-samples/pull/86

[2020-01-07 20:10] tmatsuo commented on #84
@IA-Synth911a However, if you want me to dig into the problem you encountered, please provide exact step to reproduce your problem. Then I'm happy to look into it.

[2020-01-08 01:38] IA-Synth911a commented on #84
@tmatsuo I would like to try the Docker way first, Thankyou very much!!!

[2020-01-14 07:34] tumusudheer opened #87 "C++ catching/finding connection and stream errors & continuous/infinite speech recognition"
Hi,

I'm building an example (c++ based) in which I've a GRPC server which receives continuous audio 100 milli second chunks/bytes (using GRPC bidirectional streaming) from client (real time audio speaking from mic). My server code sends the audio to Google cloud speech to get text from speech. I'm using this example [streaming_transcribe.cc](https://github.com/GoogleCloudPlatform/cpp-samples/blob

[2020-01-15 06:46] tumusudheer commented on #87
Hi,

Any help is much appreciated for [1] and [2].

Thank you

[2020-01-24 21:44] coryan commented on #87
I do not think creating the channel (this line):

https://github.com/GoogleCloudPlatform/cpp-samples/blob/68758b44106e1b93b20f4e9bd0c26ef5f0dc8678/speech/api/streaming_transcribe.cc#L65

can actually fail (well, it could be out of memory or something, but it does not try to connect or anything). Only once you try to *use* the channel you will see failures.

Error detection happens when you call `F

[2020-01-25 00:45] tumusudheer commented on #87
Hi @coryan

Thank you very much for the response and example code. It is really helpful. Based on what you've mentioned, I modified my code mentioned [here](https://github.com/tumusudheer/cpp_audiostreamer_grpc/blob/master/grpc_server.cc):, if the code is not accessible, I've copied below as well.

The code (GRPC server) does the following
1. server takes the audio bytes [here](https://github.com/

[2020-01-25 14:37] coryan commented on #87
No problem.

Ack.  I do not think I will be able to debug your code for you, but maybe I can give you some hints.

I think you need to synchronize both threads, right?  **And** you are copying a pointer to the `streamer` object in your `MicrophoneThreadMain()`.  You need to:

* keep both threads synchronized and sharing the same data
* **or** avoid using a separate thread altogether, maybe doing s

[2020-01-28 04:07] sudheer-suki commented on #87
Hi @coryan,

Thank you very much for taking your time for providing example with synchronization.  I'm sorry about posting big chunks of code, thought it would give you some idea where I'm doing some mistakes, not meant to give you the impression that you have to debug.

Basically I'm writing a GRPC server code that takes a continuous stream of bytes from client (it could be a mobile app where use

[2020-01-28 04:09] tumusudheer commented on #87
Hi @coryan,

Thank you very much for taking your time for providing example with synchronization.  I'm sorry about posting big chunks of code, thought it would give you some idea where I'm doing some mistakes, not meant to give you the impression that you have to debug.

Basically I'm writing a GRPC server code that takes a continuous stream of bytes from client (it could be a mobile app where use

[2020-01-29 00:13] tumusudheer commented on #87
Hi @coryan ,

I got something working today for infinite streaming by sharing the speech to stream between the threads and using synchronization:

**Method 1**

Main threads process Google speech responses and an additional thread writes  audio to google speech stream. But the main threads restarts the stream based on a timer for every 4.5 minutes.

Issues I'm facing here are:
1. loss of audio whi

[2020-01-29 16:34] coryan commented on #87
I think you are quickly exceeding my knowledge of how this service works.

Awesome!

What does this mean?  That part of the audio is not processed?  Or that you drop audio packets?

I see.

Unfortunately, not.  I do not have enough experience with this service to say one way or the other.  Maybe @SurferJeffAtGoogle or @tmatsuo can chime in.

 From the examples [Java](https://github.com/GoogleCloud

[2020-01-29 16:44] coryan commented on #87
Also, sorry I cannot be of more help.  I do hear that having an example of infinite streaming for speech + C++ would be useful.  I have added this to our backlog:

https://github.com/googleapis/google-cloud-cpp/issues/3356

Though candidly it will take us a while to get to it.

[2020-01-29 17:23] tumusudheer commented on #87
Hi @coryan ,

`What does this mean? That part of the audio is not processed? Or that you drop audio packets?`

Yeah, what ever the audio packets received while the stream is getting reset are not being processed. The examples mentioned in [java](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/speech/cloud-client/src/main/java/com/example/speech/InfiniteStreamRecognize.java#L25

[2020-01-29 17:26] tumusudheer commented on #87
Thank you very much for your help. You are very helpful for me in this work. I think I'm getting closer to have a working version.

Great. It would be very helpful. Meanwhile, if there is a pseudo code on how to do it along the liner of [streaming_transcribe.cc](https://github.com/GoogleCloudPlatform/cpp-samples/blob/master/speech/api/streaming_transcribe.cc), that would be very helpful for me.

T

[2020-01-31 09:07] tumusudheer commented on #87
Hi @coryan ,

 I got the infinite streaming working with the method where the main thread writes audio to google speech while the additional thread reads responses. I've a quick question:
what is the best way to reset the stream ?
**Method 1**
[code]
Or you suggested in your recent post to use `writesDone`

**Method 2**
[code]

In the second method, I'm using `streamer->WritesDone();` and I believ

[2020-02-10 21:50] coryan opened #91 "Cloud Run improvements"
* Dockerfile: Add some more comments so the Dockerfile can be more easily followed by someone new to containers.
* App Code: "World" should be overridable with the environment variable `TARGET`.
* README: 1. No need for beta component, 2. Unless using Cloud Run for Anthos, no need for kubectl

[2020-03-02 00:25] coryan opened #93 "Consider enabling renovate bot for this repository"
We have a number of Dockerfiles that could use some automation to keep them up to date.

[2020-03-02 16:24] #91 closed

[2020-03-06 22:56] tmatsuo commented on #93
We tried the renovate bot, it tried to update to Ubuntu 18.10 from 18.04 (LTS). I think we should stick to LTS version for now.

[2020-03-06 22:56] #93 closed

[2020-03-09 20:55] tmatsuo opened #97 "[Flake] the speech integration tests failed with "malloc_consolidate(): invalid chunk size""
https://source.cloud.google.com/results/invocations/730a328c-0aca-4333-85ce-f4deb5996db3/log

[2020-03-10 01:30] afsxt opened #98 "error while Generate googleapis gRPC source code"
protoc --proto_path=.:/usr/local/include --cpp_out=./gens --grpc_out=./gens --plugin=protoc-gen-grpc=/usr/local/bin/grpc_cpp_plugin google/maps/routes/v1/route_service.proto
[libprotobuf FATAL /home/maybe/grpc/third_party/protobuf/src/google/protobuf/io/printer.cc:142]  Unclosed variable name.
terminate called after throwing an instance of 'google::protobuf::FatalException'
  what():   Unclosed va

[2020-03-10 02:04] coryan commented on #98
That seems like a bug in `gRPC` or `Protobuf`, have you reported the bug with them?

@tmatsuo do we have any examples in this repo that compile *all* the protos in googleapis?  If so, we should clean that up.

[2020-03-10 16:27] tmatsuo commented on #98
Currently the speech sample generates `google/maps/routes/v1/route_service.pb.cc` with gRPC 1.26.

[2020-03-11 13:43] #98 closed

[2020-04-01 13:21] ArthurVerstraete opened #99 "Why can't I detach the config request from the rest of my code?"
This is working:
![image](https://user-images.githubusercontent.com/36663371/78141422-c2de8480-742b-11ea-9d3b-d5b356bccb0d.png)

But this ain't:
![image](https://user-images.githubusercontent.com/36663371/78141487-d853ae80-742b-11ea-8126-3175e995840f.png)
![image](https://user-images.githubusercontent.com/36663371/78141562-f3beb980-742b-11ea-9d60-bf7a1e5dcf91.png)

Can someone tell me and help me

[2020-04-01 13:31] coryan commented on #99
Because gRPC requires the `grpc::ClientContext` to remain alive until the stream is closed (and you call `Finish()`).  I have not been able to find detailed documentation about this, but it is implicit in some of the other documentation, for example this:

https://grpc.github.io/grpc/cpp/classgrpc__impl_1_1internal_1_1_client_streaming_interface.html#a010a28c3d4428fae26c5e7f6866e502c

states that

[2020-04-01 13:38] ArthurVerstraete commented on #99
I call Finish() add the end of my code. But this is not shown in the screenshot, because I assumed this wasn't the problem.

[2020-04-01 13:46] coryan commented on #99
The problem is (I think) not whether you call `Finish()` the problem is that you created a context, and it went out of scope before the streamer does:

[code]

[2020-04-01 13:58] ArthurVerstraete commented on #99
Okay, how can I solve this?

[2020-04-01 14:02] coryan commented on #99
Well, I guess you need to rewrite your code so the client context remains in scope.

Create an object that holds both the `streamer` and the `context` (but `grpc::ClientContext` is a non-copyable, non-moveable class, so you will need to use `std::unique_ptr<grpc::ClientContext>`).

Or allocate the `context` and `streamer` and pass them as reference parameters to your function.

I do not know what

[2020-04-20 22:41] karan-k1110 opened #101 "Sending multiple alternative languages"
Hey,
I'm using Google speech to text's v1p1beta1 library, which enabled me to send alternative language with a primary language. For one primary language it is working completely fine. But I'm not able to figure out how to send multiple alternative language ? Google's documentation states that upto 3 alternative languages can be sent.

[2020-04-20 22:47] coryan commented on #101
I do not think we can help you here, this repository hosts some examples on how to use C++ and the GCP speech service, but we are far from experts on how the service works. Have you tried the GCP community slack and/or stackoverflow?

[2020-04-20 22:50] karan-k1110 commented on #101
I tried stackoverflow but no luck, what's the link to community slack?

[2020-04-20 23:49] coryan commented on #101
I think https://googlecloud-community.slack.com

[2020-06-04 15:29] ArthurVerstraete commented on #101
Hi, is there already a fix for this? I tried using config->set_alternative_language_codes but this function doesn't exist while the official Google Speech to Text documentation is saying this should exist

[2020-07-02 03:03] PIAOTJ opened #102 "c++ speech sample question."
hello. i'm beginner.

i'm trying to build this sample. but i can't build and run this sample.

[](https://github.com/GoogleCloudPlatform/cpp-samples/tree/master/speech/api)

i'm install gRPC, and protobuf, and i try build

7. Generate googleapis gRPC source code.

but filed to make, and I try use bezel build success.

but when i try 8. 9. i'm can't build

   - cd cpp-docs-samples/speech/api
   - m

[2020-07-02 13:41] coryan commented on #102
I am not sure if this helps.  It seems the instructions are extremely outdated, I will try to get somebody interested in fixing them.  Meanwhile: the makefiles in `speech/api` depend on successfully running `make` in step 7, can you tell us *how* those instructions failed? Also please include the following information:

- This example has only been tested on Linux, please tell us what version of L

[2020-07-03 01:23] PIAOTJ commented on #102
thanks, coryan.

i'm failed to build thils sample use grpc 1.30.0
so i retry grpc 1.26.0

1. i'm use linux ubuntu 16.04.
2. now i'm using grpc 1.26.0, protoc 3.8.0,
3. protoc is in /usr/local/bin
4. yes

grpc 1.26.0 i'm success build googleapis and this sample.

i have another question.

i'm try to run_tests but not response anything.

i open transcribe.cc and

seems this line not working.

i alre

[2020-07-03 16:36] coryan commented on #102
Yay! 🎉

Okay, this is probably more of an authentication problem.  You probably tried the ideas below, but in case you have not.   I would try to follow the speech-to-text quickstart first:

https://cloud.google.com/speech-to-text/docs/quickstart-gcloud

Once that works then probably your problems with `grpc::GoogleDefaultCredentials()` would go away.  You may also want to learn about authenticati

[2020-07-08 05:48] PIAOTJ commented on #102
hi, coryan.

i retry 1.26.x (not 1.26.0 release, 1.26.0 has bug)
[https://github.com/grpc/grpc/tree/v1.26.x](https://github.com/grpc/grpc/tree/v1.26.x )

i finally success run this sample.

thank you!

[2020-07-08 05:49] #102 closed

[2020-07-10 07:25] catahohoho commented on #98
now is it solved?

[2020-07-10 18:20] coryan commented on #98
I think the original bug report was trying to use the grpc plugin distributed with gRPC v1.27.3, which for whatever reason was crashing. Downgrading to v1.26.x seems to work.

[2020-07-16 03:39] jbmcgee opened #103 "Speech Api on Windows"
I would like to use the Cloud Speech Api in a Windows c++ application. I've followed the speech api build steps as guidance. How do I generate the googleapis gRPC source code on windows?

[2020-07-16 05:59] #103 closed

[2020-09-09 17:13] scotthart commented on #97
Tests are now passing.

[2020-09-09 17:16] coryan commented on #97
More than 90 days since the last failure, closing.

[2020-09-09 17:16] #97 closed

[2020-09-17 19:36] sgreenberg commented on #72
At this point in time, we don't have the folks available to address feature requests in IoT.

[2020-09-17 19:36] #72 closed

[2020-12-21 07:10] atulbari-samespace commented on #98
grpc version: v1.34 (latest)
protoc version: 3.13.0
ubuntu: 18.04

I am still getting this error while googleapis github repo
Any update???
step:

- export LANGUAGE=cpp

- git clone https://github.com/googleapis/googleapis.git

- cd googleapis

- make all

`protoc --proto_path=.:/usr/local/.local/include --cpp_out=./gens --grpc_out=./gens --plugin=protoc-gen-grpc=/usr/local/.local/bin/grpc_cpp_plu

[2020-12-21 16:04] coryan commented on #98
I just compiled a similar configuration successfully using the Dockerfile at the end of this comment.  I suspect you picked a bad version of googleapis or you are missing some build step.

I recommend that you do **not** use the top-level Makefile in that repository. It generates **all** the `.pb.*` files, but (a) you rarely need all of them, and (b) it does not produce any useful libraries that y

[2020-12-22 12:18] atulbari-samespace commented on #98
Thanks for reply @coryan

I was following those steps from https://github.com/GoogleCloudPlatform/cpp-samples/blob/master/speech/api/README.md

I want to achieve **speech to text and text to speech** in cpp using googleapis. (I am using grpc::GoogleDefaultCredentials())
yes,  don,t need all .pb, this is helpfull. Thanks!

Thanks for docker command

can u suggest anything else for speech to text an

[2020-12-22 14:41] coryan commented on #98
I am afraid using the raw gRPC files is the best I can recommend at this time.

[2021-01-20 04:15] karan-k111098 commented on #87
I found the above conversation very very helpful.  Actually in my implementation, I have a parent program which is written in C. Whenever a transcribe request is made to the parent program, It forks to this C++ application providing a named pipe in argument to send audio to this C++ program which can be further sent to Google, and when the inactivity is detected. C++ sends finish() request to get

[2021-01-20 13:42] coryan commented on #87
This is a difficult question to answer.   Since you are using both C and C++ the idea of forking a process seems fine.  Whether a named pipe has the necessary capacity and does not get full, deadlocking your two programs, is a different question.  Blocking on `waitpid()` without reading from the pipe or allowing for timeouts seems dangerous to me, I would consider `pselect()` to wait for I/O, sign

[2021-02-02 11:06] sjpritchard commented on #98
This still appears to be an issue with protoc 3.14.0 and grpc 1.35.0 on Ubuntu 20.10
`protoc --proto_path=.:/usr/local/include --cpp_out=./gens --grpc_out=./gens --plugin=protoc-gen-grpc=/usr/local/bin/grpc_cpp_plugin google/maps/routes/v1/route_service.proto
[libprotobuf FATAL /home/steve/simcortex/grpc/third_party/protobuf/src/google/protobuf/io/printer.cc:142]  Unclosed variable name.
terminate

[2021-02-02 11:12] sjpritchard opened #113 "Error building grpc source code"
I'm getting the following error when building grpc C++ source code from https://github.com/googleapis/googleapis using protoc 3.14.0 and grpc 1.35.0 on Ubuntu 20.10 (WSL). Same issue as #98.

`protoc --proto_path=.:/usr/local/include --cpp_out=./gens --grpc_out=./gens --plugin=protoc-gen-grpc=/usr/local/bin/grpc_cpp_plugin google/maps/routes/v1/route_service.proto
[libprotobuf FATAL /home/xxxx/xxx

[2021-02-02 14:18] coryan commented on #113
That you for filing a report.  Looking at the error message this seems like a gRPC plugin crashing, possibly related to this:

https://github.com/grpc/grpc/issues/8741

[2021-02-08 13:45] coryan commented on #113
Okay, my first attempt at reproducing this failed. I created a Dockerfile to compile protobuf, gRPC, and googleapis on Ubuntu:20.04 and it works without problems:

[repro-cpp-samples-113.Dockerfile](https://github.com/GoogleCloudPlatform/cpp-samples/files/5944020/repro-cpp-samples-113.Dockerfile.txt)

[2021-02-08 13:52] coryan commented on #113
Second attempt with Ubuntu:20.10 does not repro either.

@sjpritchard Maybe you can look at the attached Dockerfiles and tell me what I am doing wrong / different?

[repro-cpp-samples-113.Dockerfile](https://github.com/GoogleCloudPlatform/cpp-samples/files/5944058/repro-cpp-samples-113.Dockerfile.txt)

[2021-02-12 13:32] MJBGO commented on #113
Hello ! Same error for me :

![image](https://user-images.githubusercontent.com/8344487/107771823-a5f92a00-6d3b-11eb-8a99-1ce51941cf19.png)

I'm using :

- last Ubuntu version but not with dockerfile, directly on the machine.
- last protobuf version (v3.14), compiled with ./configure && make && make check && sudo make install && sudo ldconfig
- last grpc version (v1.35), compiled with mkdir -p cma

[2021-02-12 14:10] coryan commented on #113
@MJBGO Thanks, we must be doing something different because it obviously works for me.  Can you help me troubleshoot the differences by answering some questions?  I am trying to run the build steps as you describe them at the same time.

- protobuf does not ship with a `configure` script, I assume you had to run `./autogen.sh` ?
- gRPC needs Abseil and RE2 and c-ares, how did you compile/install t

[2021-02-19 16:08] coryan commented on #113
Ping, I am still unable to reproduce the problem.  Since the Dockerfile I attached above includes reproducible steps that get things working I am inclined to close this unless I hear of a way to reproduce these issues.

[2021-02-19 18:53] mpietras commented on #113
I have the same compile issue mentioned in this issue...  build grpc v1.35.0 which also built protoc v3.14.0 then cloned googleapis and built... "printer.cc:142 Unclosed variable name" found this looking for help.

[2021-02-19 19:04] coryan commented on #113
@mpietras fair enough.  I do believe that the problem is real, but I just cannot reproduce it.  I image this is frustrating for folks wanting an answer, it is frustrating to be unable to give you one.

If you could share more details of how you built gRPC and protobuf that would help.  In general, a set of detailed steps to reproduce the problem would be appreciated.

[2021-02-19 19:04] mpietras commented on #113
\~/googleapis# ldd /usr/local/bin/protoc
linux-vdso.so.1 (0x00007fff6d9e1000)
libpthread.so.0 => /lib/x86_64-linux-gnu/libpthread.so.0 (0x00007f94b6451000)
libstdc++.so.6 => /lib/x86_64-linux-gnu/libstdc++.so.6 (0x00007f94b6270000)
libgcc_s.so.1 => /lib/x86_64-linux-gnu/libgcc_s.so.1 (0x00007f94b6255000)
libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007f94b6063000)
/lib64/ld-linux-x86-64.so.2

[2021-02-19 19:07] mpietras commented on #113
I followed instructions here for building grpc: https://grpc.io/docs/languages/cpp/quickstart/
Then I:
git clone https://github.com/googleapis/googleapis.git
cd googleapis
make all

[2021-02-19 19:39] coryan commented on #113
@mpietras brilliant, reproduced on the first try:

[code]

I used this script:

[repro-cpp-samples-113-v3.Dockerfile.txt](https://github.com/GoogleCloudPlatform/cpp-samples/files/6012534/repro-cpp-samples-113-v3.Dockerfile.txt)

I am going to open a bug with the gRPC folks, I think there is something wrong with their instructions, or their submodules do not point to the right versions, or somethin

[2021-02-19 20:58] coryan commented on #113
As a workaround, this patches the files to get them to build:

[code]

That just changes some comments, so it should be safe (cue the ominous music).

I tested with [repro-cpp-samples-113-v4.Dockerfile.txt](https://github.com/GoogleCloudPlatform/cpp-samples/files/6012900/repro-cpp-samples-113-v4.Dockerfile.txt)

[2021-02-19 21:07] mpietras commented on #113
That did indeed get me past that issue - thank you!

[2021-03-06 02:17] coryan opened #119 "Create a build badge with the Cloud Build status"
If there is no simpler solution, something like this:

https://github.com/sbsends/cloud-build-badge

[2021-05-27 07:31] joeholley opened #134 "Fresh pull of repo won't successfully build cloud run example"
Pulling the repo fresh and following the instructions in the readme results in this failure:

[code]

Removing the substitution argument from the bootstrap script resolves the problem (I didn't see anywhere obvious in the cloudbuild.yaml where the SHORT_SHA substitution was needed and missing):
[code]

Let me know if you want me to submit a PR.

[2021-05-27 12:04] coryan commented on #134
Thanks for the bug report, yes a PR would be very useful, thanks!

[2021-06-15 16:07] coryan commented on #134
Fixed in #135

[2021-06-15 16:07] #134 closed

[2021-08-24 18:07] coryan opened #138 "Complete the Getting Started example"
This is a tracking bug, probably needs some breakdown.

- [x] Need to write some queries to show case the index
- [x] Add caching to the buildpack builds
- [x] Add a CI build using buildpacks
- [x] Consider adding more fields to the Cloud Spanner Table

[2021-09-10 20:40] #138 closed

[2021-09-30 20:20] coryan commented on #119
/testing: @googleapis/cloud-cxx-team

[2021-09-30 20:23] coryan commented on #119
/testing: @googleapis/yoshi-cpp

[2021-09-30 20:24] coryan commented on #119
/testing: @googleapis/cloud-cxx-owners

[2021-10-06 22:03] coryan opened #148 "Dockerfile for Cloud Run hello world is out of date"

[2021-10-12 16:53] google-cloud-policy-bot[bot] opened #150 "[Policy Bot] found one or more issues with this repository."
[Policy Bot](https://github.com/googleapis/repo-automation-bots/tree/main/packages/policy#policy-bot) found one or more issues with this repository.
- [x] Default branch is 'main'
- [ ] Branch protection is enabled
- [ ] Renovate bot is enabled
- [ ] Merge commits disabled
- [x] There is a CODEOWNERS file
- [x] There is a valid LICENSE.md
- [ ] There is a CODE_OF_CONDUCT.md
- [x] There is a CONTRI

[2021-10-12 18:17] renovate[bot] opened #154 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-10-12 18:58] forking-renovate opened #156 "Ignore - Old Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [chore(deps): update gcr.io/kaniko-project/executor docker tag to v1.7.0](../pull/162)

---

- [ ] Check this box to trigger

[2021-10-12 18:59] #154 closed

[2021-10-13 09:00] google-cloud-policy-bot[bot] opened #157 "[Policy Bot] found one or more issues with this repository."
[Policy Bot](https://github.com/googleapis/repo-automation-bots/tree/main/packages/policy#policy-bot) found one or more issues with this repository.
- [x] Default branch is 'main'
- [x] Branch protection is enabled
- [x] Renovate bot is enabled
- [x] Merge commits disabled
- [x] There is a CODEOWNERS file
- [x] There is a valid LICENSE.md
- [x] There is a CODE_OF_CONDUCT.md
- [x] There is a CONTRI

[2021-10-13 12:42] #157 closed

[2021-10-20 22:28] #156 closed, assigned to nobody

[2021-10-20 23:00] renovate[bot] opened #163 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [chore(deps): update gcr.io/kaniko-project/executor docker tag to v1.7.0](../pull/162)

---

- [ ] Check this box to trigger

[2021-10-21 13:01] forking-renovate opened #164 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/GoogleCloudPlatform/cpp-samples).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

[2022-01-29 10:25] trajcenikolovnick opened #170 "Running the examples - grpc error"
Hi Community,

I managed to build and run the samples and here is what it says - WIndows 10. Any hints? Thank you

E:\cpp-samples\speech\api>.build\Debug\streaming_transcribe.exe resources\audio.flac
E0129 12:07:34.646000000 37120 ssl_utils.cc:592] load_file: {"created":"@1643450854.646000000","description":"Failed to load file","file":"E:\vcpkg\buildtrees\grpc\src\2180080eb4-87c05d756b.clean\src\

[2022-01-29 13:54] trajcenikolovnick commented on #170
I figured out that it is set up for Linux. I made my own folder \usr\share\grpc\ and put the certificate there and it worked. Any more elegant way to set the path to the certificate?

[2022-01-29 13:54] coryan commented on #170
On Windows gRPC needs a `roots.pem` file to complete the SSL handshake:

https://github.com/googleapis/google-cloud-cpp/tree/main/google/cloud/texttospeech/quickstart#windows

[2022-01-29 13:57] coryan commented on #170
FWIW, we are planning to add the speech client library to https://github.com/googleapis/google-cloud-cpp and we typically document how to configure things for Windows and macOS when we create libraries there.

[2022-01-29 14:01] trajcenikolovnick commented on #170
Thanks! I am fine now. You can close the issue

[2022-01-29 14:02] #170 closed

[2022-01-29 15:35] coryan commented on #170
Glad things are working.  I just sent #171 for review to make this easier in the future.

[2022-02-23 09:01] simogaspa84 opened #172 "Jwt.h on example"
Hi... Can you please attach here the example where is located or the library for the jwt code you used ?

Thanks a lo t

[2022-02-23 13:38] coryan commented on #172
Is this regarding this example https://github.com/GoogleCloudPlatform/cpp-samples/tree/main/iot/mqtt-ciotc ?

We use https://github.com/benmcollins/libjwt

You can see how it is downloaded in the corresponding `CMake` file:

https://github.com/GoogleCloudPlatform/cpp-samples/blob/161e068162a8f97a21011001d20450688979365d/iot/mqtt-ciotc/CMakeLists.txt#L29-L38

[2022-02-28 18:24] cdelsordo opened #173 "Trouble creating a Google Cloud Speech to Text Client using"
I am working on a Comcast RDK streamer product and we were looking to add a C++ Google Cloud Speech to Text Client to transcribe voice commands.  I tried following the README.md instructions for github.com/GoogleCloudPlatform/cpp-samples/tree/main/speech/api and it said that I need to start by installing vcpkg.  Looking at those instructions it seems that is very difficult to add to the RDK yocto

[2022-02-28 18:42] coryan commented on #173
Yes.  `vcpkg` is a good way to get started and run the samples, but we do not require that you use it.  First, I think you may want to take a look at the C++ client libraries:

https://github.com/googleapis/google-cloud-cpp

which are gaining support for Speech-to-Text "soon":

https://github.com/googleapis/google-cloud-cpp/tree/main/google/cloud/speech

The client libraries include step-by-step i

[2022-03-26 10:03] ChoochatJumpathon opened #177 "Ownership"

[2022-03-26 14:33] coryan commented on #177
Looks like spam.  If there was a real question please reopen and expand.

[2022-03-26 14:33] #177 closed

[2022-05-20 03:35] lichao252244354 opened #187 "run streaming_transcribe Error in windows"
when  Debug std::streamsize bytes_read = file_stream.rdbuf()->sgetn(&chunk[0], chunk.size()) ；I found return value bytes_read is 0, then program error ： "Sending 0 k bytes." I use Visual studio 2019 environment ，please  help me solve this problem，The audio I use in cpp-samples/api/resource ,thank you very much

[2022-05-20 13:41] coryan commented on #187
I think the problem is here:

https://github.com/GoogleCloudPlatform/cpp-samples/blob/6afcd1c656a7fe3a3a1e0f9e42bf1ab755c97fbc/speech/api/streaming_transcribe.cc#L41

That should be

[code]

I will send a PR, but since we only tests these on Windows, it would help if you could let us know if that fixed the problem.

[2022-05-20 14:32] lichao252244354 commented on #187
thank you very much , I use the std::ifstream file_stream(file_path, std::ios::binary),  it seem's not work , I thank you can Debug in Vsiual Studio 2019 , could you tell me your email ,I can send you more information

[2022-05-20 14:50] coryan commented on #187
Okay, let me set up my Windows environment (it may take a couple of hours).  Meanwhile: is your input file size a multiple of 64 * 1024?  I think I can see the bug if that is the case.

[2022-05-20 15:07] lichao252244354 commented on #187
I use test Audio file 1.82MB ,wav file

[2022-05-20 15:17] lichao252244354 commented on #187
you can test the resource/audio.flac in windows environment ,I want to ask if wav format audio can also be supported

[2022-05-20 15:26] coryan commented on #187
I am no expert on audio formats and/or encodings.  The best I can do is point you to the service documentation, for example:

https://cloud.google.com/speech-to-text/docs/encoding

Looks to me that WAV files are supported.

[2022-05-20 20:09] coryan commented on #187
I just sent a PR (#189) to get this code to compile on Windows.  I was able to run the `streaming_transcribe` program using `resource/audio.flac` successfully.  Let us know if you you are still experiencing problems after that PR is merged.

[2022-05-20 21:10] #187 closed

[2022-05-21 09:53] lichao252244354 commented on #187
Thank you very much, I can use it again here，This issue can be closed

[2022-05-25 02:35] lichao252244354 opened #201 "How to set speech language in streaming_transcribe"
Hello , Could you please tell me where can I set the recognition language Japanese or korean in streaming_transcribe ,which API can set the speech language,thank you

[2022-05-25 02:50] coryan commented on #201
This kind of question is better answered by the reference documentation and guides than by the samples.  A good starting point is:

https://cloud.google.com/speech-to-text/docs

The list of supported languages is found here:

https://cloud.google.com/speech-to-text/docs/languages

In the C++ examples this is configured here:

https://github.com/GoogleCloudPlatform/cpp-samples/blob/main/speech/api/

[2022-05-25 09:06] lichao252244354 commented on #201
thank you very much , I can use the command streaming_transcribe.exe --language-code ko-KR D:\resource\KoRean \2.wav test KoRean audio file .but  have no recognizer Result return

[2022-05-25 12:19] coryan commented on #201
I am not a Cloud Text-to-Speech expert.  The best I can do is offer some general troubleshooting guidance.  I tested with a public file in `es-ES` encoding:

[code]

That worked for me.  That leads me to believe that setting the language encoding in the examples "works", in that it is sent and interpreted correctly by the service.  In your place I would try to use an existing tool to see if it wor

[2022-05-25 12:37] lichao252244354 commented on #201
thank you very much ,I will do the relevant tests as you suggest

[2022-05-30 10:44] lichao252244354 opened #202 "Google cloud speech library is static library"
Hello .when I use vcpkg install google cloud speech library ,I found the packages all are .lib，cloud you help me  how to get the .dll library ,I want to compile into dll in my project ,thank you very much

[2022-05-30 14:22] coryan commented on #202
This is not possible at the moment, the rationale is explained at:

https://github.com/googleapis/google-cloud-cpp/issues/5849

[2022-05-30 15:51] #202 closed

[2022-05-31 20:13] coryan commented on #201
Closing for now, please reopen if you have more questions on this topic.

[2022-05-31 20:13] #201 closed

[2022-06-08 13:30] #101 closed

[2022-06-08 13:31] coryan commented on #113
I am going to close this, as it appears to be an issue with gRPC, and there is already a tracking bug with gRPC.

[2022-06-08 13:31] #113 closed

[2022-06-08 13:32] #172 closed

[2022-06-08 13:32] coryan commented on #173
I am going to close this as the question seems to be answered.

[2022-06-08 13:32] #173 closed

[2022-06-08 13:33] #59 closed

[2022-06-08 13:34] coryan commented on #80
I am going to close this as it seems obsolete, we use a different build system anyway.

[2022-06-08 13:34] #80 closed

[2022-06-09 12:29] #163 closed

[2022-06-09 12:31] coryan commented on #87
Seems like the questions posed here are answered. Closing